*.exe
*.pdb
*.obj
*.sln
*.suo
*Input.cache
*.exe.manifest
*/bin/Debug*
*/bin/Release*
*/x86/*
/content/maps/ei_zero.lin
/content/maps/ei_zero.log
/content/maps/ei_zero.vmx
/content/maps/ei_zero.bsp.ztmp